doctype html
html(lang="pt")
    head
        meta(charset="utf-8")
        script(src='/scripts/main.js')
        title Mesas
    body
        h1 Mesas
        ul(id = "listaMesas")
            each mesa in mesas
                if mesa.id_mesa
                    li
                        button(type="button", id="button_mesa", onclick="fetchOrder()") #{mesa.id_mesa}
        div(id = "detalhesMesa")
